resources:
    - name: create-service-account-key
      type: gcp-types/cloudfunctions-v1:projects.locations.functions
      properties:
        parent: projects/{{ properties["project"] or env["project"] }}/locations/{{ properties["location"] }}
        location: {{ properties["location"] }}
        function: create-service-account-key


    - name: remove-service-account-key
      type: gcp-types/cloudfunctions-v1:projects.locations.functions
      properties:

    - type: gcp-types/pubsub-v1:projects.topics
      name: key-deletion-requests
      properties:
        topic: key-deletion-requests

    - type: gcp-types/cloudtasks:projects.locations.queues
      name: deletable-keys
      properties:
